@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>


    
        <div class="slider">
            <div class="slider-content">
                <img src="Images/img7.png" alt="">
                <div class="info-div">
                    <caption>Apple iPhone 13 Pro Max</caption>
                    <a href="">more info</a>
                </div>
            </div>
            <div class="slider-content">
                <img src="Images/img6.png" alt="">
                <div class="info-div">
                    <caption>Lenovo Ideapad Slim 3 10th Gen Intel Core i3 15.6 inches</caption>
                    <a href="">more info</a>
                </div>
            </div>
            <div class="slider-content">
                <img src="Images/img3.png" alt="">
                <div class="info-div">
                    <caption>Sony Playstation 5</caption>
                    <a href="">more info</a>
                </div>
            </div>
        </div>
        <script src="js/main.js"></script>
        <div class="producers">
            <div class="producer">
                <a href="https://www.apple.com/"><img src="Images/appleLOGO.png" alt=""></a>
            </div>
            <div class="producer">
                <a href="https://www.sony.com/en/"><img src="Images/sonyLOGO.png" alt=""></a>
            </div>
            <div class="producer">
                <a href="https://www.lenovo.com/us/en/"><img src="Images/lenovoLOGO.png" alt=""></a>
            </div>
            <div class="producer">
                <a href="https://www.samsung.com/us/"><img src="Images/samsungLOGO.png" alt=""></a>
            </div>
        </div>



    <div class="footer-div">
        <div class="stay-connected-div">
            <h1>Stay Connected</h1>
            <div class="imgL-div">
                <a href="https://www.facebook.com/"><img src="Images/fbLogo.png" alt=""></a>
                <a href="https://twitter.com/"><img src="Images/twitterLogo.png" alt=""></a>
                <a href="https://instagram.com/"><img src="Images/instaLogo.png" alt=""></a>
                <a href="https://linkedin.com" /><img src="Images/linkedIn-Logo.png" alt=""></a>
            </div>
        </div>
        <div class="about-us">
            <h1>About Us</h1>
            <div class="a-div">
                <a href="">Company Info</a>
                <a href="">Policies</a>
                <a href="">News</a>
                <a href="">Report</a>
            </div>
        </div>
        <div class="Payment-methods-div">
            <h1>Payment Methods</h1>
            <div class="card-logo-div">
                <img src="Images/visaCard-logo.png" alt="">
                <img src="Images/MasterCard-logo.png" alt="">
                <img src="Images/PayPal-logo.png" alt="">
                <img src="Images/Discover-logo.png" alt="">
            </div>
        </div>

 
    <script src="~/js/login.js"></script>

